<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm} %-5level %logger{36} - %msg%n
            </Pattern>

        </layout>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.rdas.secureweb" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.eclise.jetty.component" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="springfox.documentation.swagger.web.ClassOrApiAnnotationResourceGrouping" level="error"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.hrb.services.hrb.DuplicateLoginChecker" level="error"  additivity="false">
        <level name = "ERROR"/>
        <priority value="ERROR"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
